<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">

<head>
<link href="../static/css/fotografoForm.css" th:href="@{/css/fotografoForm.css}"
	rel="stylesheet" />
</head>
<body>
	<div align="center">
		<img style="padding-top: 5%" width="250"
			th:src="@{images/fotografo.jpg}" /> <br>
		<h4>Inserisci i dati di uno Album</h4>
		<form th:action="@{/addAlbum}" method="POST" th:object="${album}">
			<table>
				<tr>
					<td>Nome:</td>
					<td><input type="text" th:field="*{nome}" /></td>
					<td th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></td>
				</tr>
				<tr>
					<td>Descrizione:</td>
					<td><input type="text" th:field="*{descrizione}" /></td>
					<td th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></td>
				</tr>
				<tr>
					<td><br>
						<button class="dropbtn" type="submit">Invio</button></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>
<!--  -->