<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">

<head>
<meta charset="utf-8">
<link href="../static/css/scelta.css" th:href="@{/css/scelta.css}"
	rel="stylesheet" />
</head>
<body>
	<div align="center">
		<img style="padding-top: 5%" width="250"
			th:src="@{images/obiettivo.jpg}" /> <br>
		<h1>Scegli una tra le seguenti attività</h1>
		<div class="dropdown" align="center">
			<button class="dropbtn">Seleziona</button>
			<div class="dropdown-content">
				<a href="/fotografi">Fotografi</a> <a href="/album">Album</a> <a
					href="/fotografie">Fotografie</a>
			</div>
		</div>
	</div>
</body>
</html>