<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">

<head>
<link href="../static/css/fotografi.css" th:href="@{/css/fotografi.css}"
	rel="stylesheet" />
</head>
<body>
	<div align="center">
		<img style="padding-top: 5%" src="../images/fotografo.jpg" width="250" />
	</div>
	<div align="center">
		<h1>Seleziona la fotografia</h1>
		<form action="/upload" method="post" enctype="multipart/form-data"
			th:object="${fotografia}">
			<table>
				<tr>
					<td>Nome:</td>
					<td><input type="text" th:field="*{nome}" /></td>
					<td th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></td>
				</tr>
				<tr>
					<td>Descrizione:</td>
					<td><input type="text" th:field="*{descrizione}" /></td>
					<td th:if="${#fields.hasErrors('descrizione')}"
						th:errors="*{descrizione}"></td>
				</tr>
				<tr>
					<td>Foto: <input type="file" name="file" accept="image/*">
					</td>
				</tr>

				<tr>
					<td align="center">
						<button type="submit" class="dropbtn">Carica</button>
					</td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>