<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">

<head>
<link href="../static/css/mystyle.css" th:href="@{/css/mystyle.css}"
	rel="stylesheet" />
</head>
<body>

	<div style="padding-top: 5%" align="center">
		<img src="../static/images/logocut.png" width="500"
			th:src="@{images/logocut.png}" />

		<h1>BENVENUTO</h1>

		<div align="center">
			<form th:action="@{/entra}" method="get">
				<table>
					<tr>
						<td align="center">
							<button class="dropbtn" type="submit" name="action"
								value="visitatore">Visitatore</button>
						</td>
					</tr>
					<tr>
						<td align="center">
							<button class="dropbtn" type="submit" name="action" value="admin">Admin</button>
						</td>
					</tr>

				</table>
			</form>

		</div>
</body>
</html>